$breakpoint-iphone678: 375px;
$breakpoint-ipad: 768px;
$breakpoint-laptop: 1000px;

@mixin navbar {
  display: grid;
  background-color: gray;
}

@mixin nav-options-iphone {
  font-size: 12px;
  margin: 4px 6px;
}

@mixin nav-option-laptop {
  font-size: 16px;
  margin: 4px 6px;
}



@media (min-width: $breakpoint-iphone678) {
  .navbar {
    @include navbar;
    grid-template-columns: 20% 60% 20%;

    // .grid-col-1, .grid-col-3 {
    //   .nav-option, .nav-acc {
    //     font-size: 12px;
    //     margin: 4px 6px;
    //   }
    // }

    .grid-col-1 {
      .nav-option {
        @include nav-options-iphone;
      }
    }

    .grid-col-2 {
      #logo-placeholder {
        text-align: center;
        margin: 4px;
      }
    }

    .grid-col-3 {
      .nav-acc {
        @include nav-options-iphone;
        float: right;
      }
    }


  }
}


@media (min-width: $breakpoint-ipad) {
  .navbar {
    @include navbar;
    grid-template-columns: 90% 10%;

    .grid-col-1 {
      .nav-option {
        font-size: 14px;
        margin: 4px 6px;
      }
    }

    .grid-col-3 {
      .nav-acc {
        font-size: 14px;
      }
    }


  }
}


@media (min-width: $breakpoint-laptop) {
  .navbar {
    @include navbar;
    grid-template-columns: 20% 60% 20%;

    // .grid-col-1, .grid-col-3 {
    //   .nav-option, .nav-acc {
    //     font-size: 16px;
    //     margin: 4px 6px;
    //   }
    // }

    .grid-col-1 {
      .nav-option {
        @include nav-option-laptop;
      }
    }

    .grid-col-2 {
      #logo-placeholder {
        text-align: center;
        margin: 4px;
      }
    }

    .grid-col-3 {
      .nav-acc {
        @include nav-option-laptop;
        float: right;
      }
    }

  }
}
